@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('fonts.css');

body {
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.a11y-hidden {
    width:0;
    height:0;
    margin:0;
    visibility: hidden;
}
.hidden {
    display: none;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background-color: #1f1f1f;
    color: #FFF;
    opacity: .8;
}
#weather {
    position: fixed;
    left:20px;
    top:20px;
    width:300px;
    text-align: left;
}
#weather p {
    
}

#clock {
    margin:0;
    padding:10vh 0 40px;
    font-size: 64px;
}

#login-input {
    height:22px;
    background-color: transparent;
    border: 1px solid #AAA;
    color:#FFF;
}

#login-form input[type="submit"] {
    height:26px;
    border:1px solid #AAA;
    border-radius: 13px;
    background: transparent;
    color:#AAA;
}

.userinfo h1 {
    display: inline-block;
}
.userinfo button {
    width:26px;
    height:26px;
    border:0;
    background: transparent;
    color:#AAA;
    font-size:20px;
}
.userinfo button span {
    visibility: hidden;
    width:0;
    height:0;
}

#todo-form {
    margin:1em 0;
}
#todo-form input {
    width:50%;
    padding:5px 0 3px;
}
#todo-list {
    width:50%;
    margin: 20px auto;
    text-align: left;
}
#todo-list li button {
    position:relative;
    border:0;
    background-color: transparent;
    color:inherit;
    text-indent: -9999px;
}
#todo-list li button:before,#todo-list li button:after {
    content:"";
    display:block;
    position: absolute;
    top:0;
    right:0;
    width:1px;
    height:16px;
    background-color: #FFF;
}
#todo-list li button:before {
    transform: rotate(45deg);
}
#todo-list li button:after {
    transform: rotate(135deg);
}

#quote {
    width: 50%;
    margin:10vh auto 0;
}
#quote p:first-child {
    padding-bottom:1em;
    border-bottom:2px solid #CCC;
}
#quote .always {
    font-size:.9em;
    opacity: .7;
}
#quote cite {
    display: block;
    margin:.5em 0;
    font-style: normal;
}

